.miDivision{
    border:black solid 1px;
    background-color: antiquewhite;
    width: 250px;
    margin: 0 auto;
}
.inputText{
    border: black solid 1px;
    display: block;
    margin: 20px auto;
    font-family: 'Times New Roman', Times;
}
.inputButton{
    margin: 30px;
    color: black;
    background-color:azure;
}
.operacion{
    margin: 5px 43%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-size: smaller;
 }
