.miDivision{
    border:black solid 1px;
    border-radius: 20px 0 20px 0;
    background-color: grey;
    width: 280px;
    height: 300px;
    margin: 0 auto;
    box-shadow: 10px 2px 10px rgba(0,0,0,.5);;
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
}
#espacio{
     text-align: justify;
     margin: 20px;
}
.inputText{
    border: black solid 1px;
    display: block;
    margin: 20px auto;
    font-family: 'Times New Roman', Times;
    text-align: center;
    font: small-caps 100%;
    border-radius: 35px 35px 35px 35px;
}
.inputButton{
    margin: 10px;
    color: black;
    background-color:azure;

}
.inputButton:hover{
    background-color:black;
    opacity: 0.7;
    color: white;
}
.operacion{
    background-color: white;
    margin: 5px 30%;
    font-family: 'Times New Roman', Times, serif, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-size: smaller;
    color:black;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    border: black solid 1px;
 }
